[data]
isVM = {{ if eq .chezmoi.os "darwin" -}}
  {{ eq (output "sh" "-c" "sysctl -n kern.hv_vmm_present 2>/dev/null || echo 0" | trim) "1" }}
{{- else -}}
  false
{{- end }}

[diff]
command = "code"
args = ["--wait", "--diff"]

[edit]
command = "code"
args = ["--wait"]

[merge]
command = "bash"
args = [
  "-c",
  {{ "cp {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} && code --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} {{ .Source | quote }}" | quote }},
]
