{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
defaults write -g AppleActionOnDoubleClick -string "Fill"
defaults write -g AppleShowAllExtensions -bool "true"
defaults write com.apple.dock "minimize-to-application" -bool "true"
defaults write com.apple.dock "orientation" -string "left"
defaults write com.apple.dock "show-recents" -bool "false"
defaults write com.apple.finder "_FXSortFoldersFirst" -bool "true"
defaults write com.apple.Terminal "Default Window Settings" -string "OneHalfDark"
defaults write com.apple.Terminal "Startup Window Settings" -string "OneHalfDark"
defaults write com.apple.TextEdit "NSFixedPitchFont" -string "FiraCode-Retina"
defaults write com.apple.TextEdit "NSFixedPitchFontSize" -int "16"
defaults write com.apple.TextEdit "RichText" -int "0"

dockutil --remove "Maps" --no-restart
dockutil --remove "Photos" --no-restart
dockutil --remove "FaceTime" --no-restart
dockutil --remove "Phone" --no-restart
dockutil --remove "Calendar" --no-restart
dockutil --remove "Contacts" --no-restart
dockutil --remove "Reminders" --no-restart
dockutil --remove "Notes" --no-restart
dockutil --remove "TV" --no-restart
dockutil --remove "Music" --no-restart
dockutil --remove "Games" --no-restart
dockutil --remove "App Store" --no-restart
dockutil --remove "iPhone Mirroring" --no-restart
dockutil --remove "System Settings" --no-restart

killall Dock
killall Finder
{{ end -}}
