{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
brew "bash"
brew "bat"
brew "chezmoi"
brew "ffmpeg"
brew "gh"
brew "git"
brew "go"
brew "mosh"
brew "pure"
brew "python"
brew "tmux"
brew "wakeonlan"
brew "zsh"
cask "1password"
cask "1password-cli"
cask "claude"
cask "claude-code"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "visual-studio-code"
{{- if not .isVM }}
mas "1Password for Safari", id: 1569813296
mas "Pages", id: 361309726
mas "Numbers", id: 361304891
mas "Keynote", id: 361285480
{{- end }}
EOF
{{- end }}
